[submodule "lePremierRipo"]
	path = lePremierRipo
	url = https://github.com/Phosphatidylinositol/lePremierRipo

[submodule "Submodule JB"]
	path = Submodule JB
	url = https://github.com/Jean-BaptisteFAU/humanbooster-repositiory-demonstration.git
